html{
    font-family: 'poppins'  !important;
}
body{
    font-family: 'poppins'  !important;
    font-size: 14px !important;
    overflow-x: hidden !important;
    background-color: #F2F3F8 !important;
}
.text-red{
    color: #D86161 !important;
}
.text-dark{
    color: #212121 !important;
}
.text-primary{
    color: #1597E4 !important;
}
.text-grey{
    color: #7A7A7A !important;
}
.bg-primary{
    background-color: #1597E4 !important;
}
.border{
    border: 1px solid #E6E6E6 !important;
}
.border-primary{
    border: 1px solid #1597E4 !important;
}
input::placeholder{
    color: #7A7A7A !important;    
}
input[type="radio"]{
    height: 1rem !important;
    width: 1rem !important;
}